{% extends "layout.html" %}
{% block content %}
<title>ABOUT</title>
<h1 style="color: #F6821D"> <center>ABOUT VOICE AGENDA </center></h1>
<div class="content-section">
    <p> This is out UI for the Final Project in our Object Oriented Programmin class.</p>
    <p>
        The important part of this project is the structure of the classes and the design patterns 
        we used to implement this application.  
    </p>
    <p> In the app you can find a Register and Login form that will allow you to create a user. The system will be able to handle several users and hold their activities so everyone is able to see it and able to schedule activities across users.</p>
</div>
{% endblock %}
